  body {
    background-color: #BFD7EA;
  }
  
  h1 {
    color: #333;
  }
  
  .img-chef {
    object-position: top;
    height: 100px;
    width: 100px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    border: 5px solid #198754;
    object-fit: cover;
  }

  .conversation {
    padding: 5px;
    background-color: white;
    width: 60%;
    border-radius: 5px;
  }

  .own-conversation {
    width: 60%;
  }

  .content {
    margin-left: 65px; /* Desplaza el contenido hacia la derecha */
    padding: 20px; /* Espaciado interno */
    transition: margin-left 0.3s ease; /* Ajuste suave al ensanchar el sidebar */
  }

  .sidebar-container:hover + .content {
    margin-left: 220px; /* Cambiar margen si el sidebar crece */
  }