  body {
    background-color: #BFD7EA;
    background-image:url("/Designer.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 100%; 
  }
  
  h1 {
    color: #333;
  }
  
  .img-chef {
    object-position: top;
    width: 10vw;
    height: 10vw;
    border-radius: 50%; 
    border: 5px solid #198754;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .img-chef {
        width: 80px; /* Tamaño fijo para pantallas pequeñas */
        height: 80px;
    }

}

  .conversation {
    padding: 5px;
    background-color: white;
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgba(187, 187, 187, 0.521)
  }

  .own-conversation {
    width: 60%;
  }

  .content {
    margin-left: 65px; /* Desplaza el contenido hacia la derecha */
    padding: 20px; /* Espaciado interno */
    transition: margin-left 0.3s ease; /* Ajuste suave al ensanchar el sidebar */
  }

  .sidebar-container:hover + .content {
    margin-left: 220px; /* Cambiar margen si el sidebar crece */
  }