
.table {
  width: 100%;
  margin: 20px auto;
  border-radius: 15px;
  background-color: #FFF8E7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 15px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #333;
  border: 1px solid #f0f0f0;
  transition: all 0.3s ease;
}

.table th {
  background-color: #F4A261;
  color: #F4A261;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table td {
  background-color: #ffffff;
}

.table td:hover {
  background-color: #F4A261;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table .meal-cell {
  background-color: #f4a3611e; /* Fondo semitransparente */
  cursor: pointer;
  transition: all 0.3s ease;
}

.table .meal-cell:hover {
  background-color: #f4a361;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table .meal-item {
  padding: 5px;
  background-color: #F4A261;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.table .meal-item:hover {
  transform: scale(1.05);
}

.table .meal-item .trash-icon {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table .meal-item .trash-icon:hover {
  background-color: #d9534f;
}

.table .meal-item-expanded {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Añadir un borde y color diferente cuando las celdas están activadas (expandidas) */
.table .meal-cell.expanded {
  background-color: #F4A261;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Estilo de las celdas del día */
.table .day-cell {
  background-color: #F4A261;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table .day-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.1rem;
}
