.meal-plan.content {
  flex-grow: 1; /* El contenido ocupa el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
}

.full-content {
  min-height: 100vh;
}
.table {
  width: 100%;
  margin: 20px auto;
  border-radius: 15px;
  background-color: #FFF8E7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.164) !important;
  table-layout: fixed;
}


.table .meal-cell:hover {
  background-color: #f4a36131;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table .meal-item {
  padding: 5px;
  background-color: #F4A261;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.table .meal-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table .meal-item .trash-icon {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table .meal-item .trash-icon:hover {
  background-color: #d9534f;
}

.table .meal-cell.expanded {

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

th, td {
  height: 100%;
  vertical-align: middle; /* Asegura que el contenido dentro de la celda se alinee verticalmente */
  font-size: 1.2rem;
}

/* Celdas de días de la semana */
th {
  background-color: #F4A261 !important; /* Color de fondo para los días */
  color: #fff; /* Color del texto */
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

th:hover {
  background-color: #e07b31 !important; /* Color cuando pasas el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

td.day-cell {
  background-color: #F4A261 !important;
}

/* Celdas para las comidas (Desayuno, Comida, Cena) */
td.meal-cell {
  display: table-cell; 
  background-color: #FFF8E7; /* Color de fondo de las celdas de comida */
  color: #333; /* Color del texto */
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

td.meal-cell:hover {
  background-color: #f4a361; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.meal-cell {
  display: none; 
  transition: all 0.3s ease-in-out;
}

.meal-cell.expanded {
  display: table-cell; 
}

.btn {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #1e7e34;
}


.recipe-list-meal-plan {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-card-meal-plan {
  position: relative;
  width: 200px;
  height: 200px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card-meal-plan:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(255, 255, 255, 0.7);
}

.recipe-content-meal-plan {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.164); 
  color: #fff;
  text-align: left;
  transition: background 0.3s ease;
  height: 100%;
}

.recipe-card-meal-plan:hover .recipe-content-meal-plan {
  background: rgba(0, 0, 0, 0.514);
}

.recipe-content-meal-plan h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.recipe-content-meal-plan p {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.recipe-content-meal-plan .btn {
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.recipe-content-meal-plan .btn-success {
  background-color: #F4A261;
  border: none;
  color: #fff;
}

.recipe-content-meal-plan .btn-success:hover {
  background-color: #f88a30;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.recipe-content-meal-plan .btn-danger {
  background-color: #dc3545;
  border: none;
  color: #fff;
}

.recipe-content-meal-plan .btn-danger:hover {
  background-color: #a71d2a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content-meal-table {
  background: rgba(0, 0, 0, 0.164);
}

.content-meal-table:hover {
  background: rgba(0, 0, 0, 0.514);
}
