
.recipe-slider {
    padding: 20px;
    width: 100%;
  }
  
  .meal-card {
    border: 1px solid #000000;
    margin-right: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: grab;
  }
  
  .slick-prev, .slick-next {
    z-index: 2;
    color: #333;
  }
  
  .slick-dots li button:before {
    color: #333;
  }

  .slick-track {
    background-color: white;
  }

  .draggable:active {
    cursor: grabbing;
  }

  .draggable {
    cursor: grab;
  }

  .slick-prev::before {
    color: #198754;
    font-size: 20px;
  }
  
  .slick-next::before {
    color: #198754;
    font-size: 20px;
  }
  
  
  .slick-prev:hover, .slick-next:hover {
    background-color: #27ca7e;
    border-radius: 50%;
  }

  .card {
    height: 350px;
    min-height: 350px;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.meal-cell {
  position: relative;
  height: 100px;
  vertical-align: top;
}

.meal-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4A261;
  border-radius: 5px;
  padding: 5px; 
}

.day-cell {
  position: relative;
  height: 100px;
  vertical-align: top; 
}

.day-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}