
.recipe-card-horizontal {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card-horizontal:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(255, 255, 255, 0.7);
}


.recipe-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.recipe-image {
  width: 40%;
  max-height: 200px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.6);
}

.recipe-info {
  flex-grow: 1;
}

.recipe-title {
  font-size: 2rem;
  color: #F4A261;
  margin-bottom: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.recipe-details {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #333;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.recipe-section {
  padding: 15px;
  border-left: 5px solid #F4A261;
  background-color: #f4a3611e;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.recipe-section ul,
.recipe-section ol {
  margin: 10px 0;
  padding-left: 20px;
}

.recipe-section ul li,
.recipe-section ol li {
  margin-bottom: 8px;
  line-height: 1.6;
}

.recipe-section p strong {
  color: #F4A261;
  font-weight: bold;
}

/* Pie de la receta */
.recipe-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.recipe-footer .btn-success {
  background-color: #198754;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.recipe-footer .btn-success:hover {
  background-color: #145c41;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.img-chef {
  object-position: top;
  width: 10vw;
  height: 10vw;
  border-radius: 50%; 
  border: 5px solid #F4A261;
  object-fit: cover;
}

  .conversation {
    padding: 5px;
    background-color: white;
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgba(187, 187, 187, 0.521)
  }

  .own-conversation {
    width: 60%;
  }