@import 'bootstrap-icons/font/bootstrap-icons.css';

.sidebar h4 {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar .nav-item {
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: 500;
}
.sidebar .nav-item:hover {
  background: #f1c39e;
}
.sidebar .nav-item i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar-container {
  padding: 0px;
  position: fixed;
  width: 65px;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s ease;
  filter: drop-shadow(1px 0 0.2rem rgba(0, 0, 0, 0.466));
  color: #F4A261;
}

.sidebar-container:hover {
  width: 220px;
  filter: drop-shadow(2px 0 0.3rem rgba(0, 0, 0, 0.466));
  color: black;
}

/* Estilo del Sidebar */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F4A261; 
  transition: opacity 0.3s ease;
  padding: 0;
}

.nav-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-item:hover {
  background-color: #e9ecef;
}

.nav-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.nav-item i {
  margin-right: 10px;
  font-size: 1.2rem;
  vertical-align: middle; 
}

.sidebar-container:hover .nav-item {
  white-space: nowrap; 
  overflow: visible;
  text-overflow: clip;
}
